html{
	height: 100%;
}

body{

	padding-top: 70px;
	font-family: 'Noto Serif', serif;
}

a{
	color: white;
}

h1{
	text-align: center;
	font-size: 40px;

}

h2{
	text-align: center;
	font-size: 30px;
}

h5{
	text-align: center;
	padding-left: 25px;
	font-size: 25px;
}

/*.bullets{
	list-style: none;
	font-size: 16px;
	text-align: left;
	padding-left: 5px;
	border-left: 4px solid grey;

}*/

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

p{
	text-align: left;
	font-weight: 700;
}

.navbar{
background: #ADA996;
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
background: linear-gradient(to right, #66859C, #EAEAEA, #F1F1F1, #264C69);
margin-bottom: none;
padding-bottom: none;
	
}
.hover:hover{
	opacity: 1.0;
	background-color: #DCDCDC;

}
.thumbnail {
    border: 0 none;
    box-shadow: none;
    background: none;
}

.indent{
	text-indent: 20px;
}

.skills{

	margin auto 0;
	height: 180px;
}

.project{
	width: 100%;
	margin: auto auto;
}